body {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.myName { 
  color: #A201FF;
  font-size: 20px;
  text-align: center;
 }

.lista1 {

  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
}
.lista2 {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
}

.parrafoUno
{
  color: #4335FF;
  font-weight: bold;
}

.parrafoDos
{
  color: rgba(25, 25, 25, 0.96);
  font-weight:  bolder;
}

.parrafoTres
{
  color: darkblue;
  font-weight: bold;
}

.example1
{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  color: darkblue;
}